{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Correos enviados{% endblock %}</h1>
{% endblock %}

{% block action %}
    <a class="button" href="{{ url_for('mail.create') }}">Nuevo correo</a>
{% endblock %}

{% block content %}
    {% if mails %}
        <ul>
            {% for mail in mails %}
            <li class="mail">
                <div>
                    <span class="email">{{ mail[1] }}</span>
                    <span class="subject"><b>{{ mail[2] }}</b></span>
                    <hr>
                    <p class="mail-content">{{ mail[3] }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay correos enviados todavía.</p>
    {% endif %} 
{% endblock %}
